
<!--
A sign Up Page
The page will include the form which will take user id, password name
-->

<h2><center> Sign up!</center></h2>
<h6><center>Add an username and password to get started</center></h6>
<form method="post" action="/inputdata/">
{% csrf_token %}
<center>
<label for="username">Username:</label>
<input type="text" name="username" value="{{username}}">
<br>
<label for="password">
Password:</label>
<input type="password" name="password" value="{{password}}">
<!--<input type="text" name="hash" value="{{hash}}">-->
<br><br>
<input type="submit" value="Click Here!">
</center>
</form>
